/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.gs-blocks-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto;
	background-color: #f8f8f8;
	min-height: 550px;
}

/* Grid Item */
.gs-blocks-item {
	/*margin: 5px;*/
	margin: 0 auto;
	background-color: tomato;
	text-align: center;
	font-size: 1.5em;
}

.gs-blocks-header {
	width: 100%;
	min-height: 100px;
}

.gs-blocks-footer {
	/*margin-top: 2rem;*/
	background-color: #555;
	width: 100%;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
